@model List<TimeCostTypeListItemModel>
@{
    ViewBag.Title = "时间费用类别管理";
}

<div class="page-header">
    <a class="btn btn-default pull-right" id="btn-create" href="@Url.Action("create")">新增</a>
    <h1>时间费用类别管理</h1>
</div>

<div class="table table-responsive table-container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>分类名称</th>
                <th>分类代码</th>
                <th>父级分类</th>
                <th style="width: 500px;">父级描述</th>
                <th style="width: 180px">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            { 
                <tr id="tr@(item.ID)">
                    <td>
                        @item.CateName
                    </td>
                    <td>
                        @item.Code
                    </td>
                    <td>
                        @item.PCateName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Edit", new { ID = item.ID })">编辑</a>
                        <a class="btn btn-primary btn-delete" href="@Url.Action("Delete", new { ID = item.ID })" data-id="@item.ID">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!Model.Any())
    { 
        <div class="alert alert-info" role="alert">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            当前没有任何数据
        </div>
    }
</div>

<div class="page-info" style="text-align: right">
    @Html.MaitonnPage((PagingInfo)ViewBag.PageInfo, "123")
</div>

